.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 6px 9px -4px rgba(0, 0, 0, 0.58);
}

.header-yellow-dot {
  position: absolute;
  left: 20%;
  top: 10%;
}

.header-logo-text {
  font-size: 30px;
  width: 100%;
  position: relative;
  left: -15px;
}

.header-blue-dot {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.header-options-container {
  display: none;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

.header-option-button {
  padding: 20px !important;
}

.header-option-selected {
  background-color: #e6b802 !important;
}

.header-option {
  flex: 1 !important;
  justify-content: center !important;
  padding: 20px !important;
  display: flex !important;
  align-items: center !important;
  background-color: white;
  transition: animation !important;
  cursor: pointer !important;
}

.header-option:hover {
  animation: header-option-effect 0.5s forwards;
}

@keyframes header-option-effect {
  from {
    background-color: white;
  }
  to {
    background-color: #e6b802;
  }
}

@media (min-width: 768px) {
  .header-options-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
  .header-menu-button {
    display: none;
  }
  .header-logo-text {
    width: unset;
  }
}
